<!DOCTYPE html>
		<html>
		<head>
			<title>TESTING ANGULAR</title>
			
			
		</head>
		<body  ng-app="myApp" ng-controller="myCtrl" data-ng-init="all()">
			 <div ng-repeat="x in items">
			 	<p>{{x.username}}</p>
			 </div>

			 <input type="text" ng-model="username" placeholder="username">

			 <input type="password" ng-model="password" placeholder="password">
			 <input type="email" ng-model="email" placeholder="email">
			 <input type="loggedIn" ng-model="loggedIn" placeholder="loggedIn">
			 <input type="text" ng-model="phone" placeholder="phone">
			 <input type="text" ng-model="types" placeholder="type">
			 <input type="text" ng-model="age" placeholder="age">
			 <input type="text" ng-model="names" placeholder="name">

			 <input type="submit" ng-click="addUser()" name="">

			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
			<script type="text/javascript" src = "script/script.js"></script>
		</body>
		</html>		

		